.modal-header
  h3 Change Password
.modal-body
  .container-fluid
    .row-fluid
      .span12
        form#changePassForm.modal-form
          label Old Password
          input(type='password', ng-model="oldPassword")
          label New Password
          input(type='password', ng-model="newPassword")
          button.btn(ng-click="changePass()") Submit
          .status {{status}}
        button.btn(ng-click="close()") Close
