!!!
html
  head
    title ntor
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/custom.css')
    link(rel='stylesheet', href='css/bootstrap-responsive.css')
    script(src='js/jquery-1.7.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.dataTables.min.js')
    script(src='js/dt_bootstrap2.js')
    script(src='js/bootstrap-modal.js')
    script(src='js/bootstrap-alert.js')
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js")
    script(src="js/ui-bootstrap-0.1.0-SNAPSHOT.js")
    script(src='js/app.js')
    script(src='js/controllers.js')
    script(src='js/services.js')
    script(src='/socket.io/socket.io.js')
    script(src='js/mergify.js')
  body(ng-app='ntor')
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand ntor
            img#loading(src="img/pacman_yellow.gif", alt="Loading...")
          .nav-collapse
            ul.nav
              li
                a(href='/incoming') Download Files
              li.active
                a(href='#tabMain', data-toggle='tab') Main
              li
                a(href='#tabSearch', data-toggle='tab') Search
              li
                a#grabAuto(href='#tabAuto', data-toggle='tab') Auto
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#') Tools
                  b.caret
                ul.dropdown-menu(ng-controller="UtilityCtrl")
                  li
                    a.manageTags(ng-click="openTagManager()") Manage Tags
                  li
                    a.changePass(href='#changePass') Change Password
                  li
                    a.manageUsers(href='#manageUsers') User Management
            ul.diskInfo.nav.pull-right(ng-controller="DiskSpaceCtrl")
              li
                a Free space: 
                  span(ng-repeat="disk in diskSpace") {{disk}} 
    .container-fluid
      .tab-content
        .tab-pane.active#tabMain(ng-controller="TorrentListCtrl")
          .row-fluid
            .span12
              table.table.table-bordered
                tr
                  th Controls
                  th Actions
                  th(ng-class="selectedCls('status')", ng-click="changeSorting('status')") Status
                  th(ng-class="selectedCls('name')", ng-click="changeSorting('name')") Torrent
                tr(ng-repeat="torrent in torrents | orderBy:sort.column:sort.descending")
                  td.btn-group
                    button.btn(ng-repeat="button in torrent.remoteButtons", ng-click="remote(button, torrent)", ng-class="button.style") {{button.text || button.type}}
                  td.btn-group
                    button.btn(ng-repeat="button in torrent.localButtons", ng-click="local(button, torrent)", ng-class="button.style") {{button.text || button.type}}
                  td {{torrent.statusText}}
                  td {{torrent.name}}
        .tab-pane#tabSearch(ng-controller="SearchCtrl")
          .row-fluid
            .span6
              form.well.form-search#searchForm
                input.input-medium.search-query(type='text', ng-model="expression")
                button.btn(type='submit', ng-click="search(engine, expression)") Search
                select(ng-model="engine")
                  - each engine in searchEngines
                    option= engine
          .row-fluid.searchResultsContainer
            .span12
              table#searchResults.table.table-striped.table-bordered
                thead
                  tr
                    th
                    th Name
                tbody
                  tr(ng-repeat="result in results")
                    td
                      button.btn.btn-primary(ng-click="chooseTag(result)") Download
                    td {{result.name}}
            .span1.pagPrev(ng-click="search(engine, expression, pagination.prev)")
            .span11.pagNext(ng-click="search(engine, expression, pagination.next)")
        .tab-pane#tabAuto(ng-controller="FeedCtrl")
          .row-fluid
            .span12
              table#autoList.table.table-striped.table-bordered.dTable
                thead
                  tr
                    th
                    th Yes
                    th No
                    th Notify
                    th Tag
                    th Last Hit
                    th Frequency
                tbody
                  tr(ng-repeat="target in feedTargets")
                    td 
                      .btn-group
                        btn.btn-danger(ng-click="removeTarget(target)") Remove
                    td {{target.yes}}
                    td {{target.no}}
                    td 
                      input(type='checkbox',ng-click="changeNotification(target)", ng-model="target.notifyMe")
                    td {{target.tag.elements.join('/')}}
                    td {{toDate(target.lastHit)}}
                    td {{createDurationString(target.frequency)}}
          .row-fluid
            .span12
              form.form-inline.well
                label Yes
                input.yes(type='text', name='yes', ng-model="newTarget.yes")
                label No
                input.no(type='text', name='no', ng-model="newTarget.no")
                label Notify
                input.notify(type='checkbox', name='notify', ng-model="newTarget.notify")
                label Tag
                select.tag.tagSelector(name='tag', ng-model="newTarget.tag", ng-options="tag.elements.join('/') for tag in tags")
                label Days
                select.frequency(name='frequency', ng-model="newTarget.frequency")
                  option 1
                  option 7
                  option 30
                button.newFeedTarget.btn-small(ng-click="addTarget(newTarget)") Add
  .modal.hide.fade#changePass
    .modal-header
      button.close(data-dismiss="modal") x
      h3 Change Password
    .modal-body
      .container-fluid
        .row-fluid
          .span12
            form#changePassForm.modal-form
              label Old Password
              input.oldPass(type='password')
              label New Password
              input.newPass(type='password')
              button.changePassSubmit Submit
  .modal.hide.fade#manageUsers
    .modal-header
      button.close(data-dismiss="modal") x
      h3 User Management
    .modal-body
      .container-fluid
        .row-fluid
          .span12
            h3 Add user
            form#addUserForm.modal-form
              label Email Address
              input.email(type='text')
              label Password
              input.password(type='password')
              label Level
              input.level(type='number')
              button.addUserSubmit Submit
        .row-fluid
          .span12
            h3 User List
            table#userTable
              thead
                th User
                th Level
                th Delete
              tbody
  .modal.hide#loadingModal
    .modal-body
      img(src='/img/pacman.gif', alt='Loading...')
      | Loading...
