!!!
html
  head
    title ntor
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/custom.css')
    link(rel='stylesheet', href='css/bootstrap-responsive.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='js/bootstrap.min.js')
  body
    .container-fluid
      .row-fluid
        .span4
          p
        .span4
          form.well(method='post')
            label Email Address
            input.input-medium(type='text', name='username')
            label Password
            input.input-medium(type='password', name='password')
            button.btn(type='submit') Submit

